@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poetsen+One&display=swap');
body {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 960px;
    padding: 20px;
}

:root {
    --primary-color: #386641;
    --secondary-color: #6a994e;
    --accent1-color: #a7c957;
    --accent2-color: #f2e8cf;

    --heading-font: Roboto;
    --paragraph-font: 'Tahoma', Bradley;

    --nav-background-color: #bc4749;
    --nav-link-color: #A7C957;
    --nav-hover-link-color: #6A994E;
    --nav-hover-background-color: #F2E8CF;
}

body {
    font-family: var(--paragraph-font) ;
    max-width: 960px;
    padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: arial, Verdana,Tahoma, sans-serif;
    color: #386641;
}

header {
    padding: 20px;
    background-color: #a7c957;
}

p {
    padding: 25px;
}

nav {
    background-color: #A7C957;
    font-size: 1.2rem;
    display: flex;
}

nav a {
    display: block;
    color: #bc4749;
    text-decoration: none;
    padding: 1rem;
}

nav a:link, nav a:visited {
    color: #386641;
}

nav a:hover {
    color: #386641;
    background-color: #a7c957;
}